body{
    background-color: white;
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}
header{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
}
img{
    display: block;
    width: 100%;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: #be3144;
    overflow-y: hidden;
}
.nav-list{
    display: flex;
    margin: 10px 5px;
}
.nav-list a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 12px;
}
.nav-list a:hover{
    background-color: #45567d;
}
.welcome-section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: #000;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}
.welcome-section h1{
    font-size: 45px;
    margin: 0;
    padding: 0;
}
.welcome-section p{
    font-size: 30px;
    font-weight: 200;
    font-style: italic;
    color: #be3144;
    padding: 0;
    margin: 0;
}
.project-section{
    text-align: center;
    padding: 20px 5px;
    background-color: #45567d;
    height: 160vh;
}
.project-section header{
    margin: 12px auto;
    border-bottom: 2px solid white;
    font-size: 35px;
}
.grid{
    display: grid;
    grid-gap: 8px;
    margin-top: 60px;
    width: 100%; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project-img{
    height: 280px;
    width: 100%;
    border: 2px solid;
}
.project-tile{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 0;
    overflow-x: hidden;
}
.code{
    background-color: #303841;
    color: white;
    padding: 16px 90px;
}
.btn{
    background-color: #303841;
    color: white;
    font-size: 22px;
    padding: 10px 15px;
    margin-bottom: 40px;
}
.btn:hover{
    background-color: #be3144;
}
.contact-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60vh;
    padding: 0 10px;
    background-color: #303841;
}
.contact-section header{
    font-size: 40px;
}
.contact-section p{
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    font-style: italic;
    color: white;
    margin: 0;
}
.contact-details{
    font-size: 22px;
    text-shadow: 2px 2px #1f1f1f;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
}
.contact-details a{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
.contact-details a i{
    padding: 0 10px;
}
footer{
    padding: 0 10px;
    height: 30vh;
    width: 100%;
    background-color: #303841;
    border-top: 4px solid #be3144;
}
footer p{
    font-size: 23px;
    text-align: center;
    padding: 15px 0;
    color: white;
}
@media (min-width:300px) and (max-width:600px){
    #navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav-list{
        display: flex;
        flex-direction: row;
    }
    .nav-list a{
        display: flex;
        font-size: 23px;
        padding-top: 10px;
    }
    .welcome-section{
        width: 100%;
        text-align: center;
    }
    .project-section{
        height: 350vh;
        width: 100%;
    }
    .project-img{
        height: 260px;
        width: 70%;
        margin: 0 auto;
    }
    .code{
        padding: 16px 70px;
    }
    .contact-section{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .contact-details{
        display: flex;
        flex-direction: column;
    }
    .contact-details header{
        font-size: 25px;
        font-weight: 500;
    }
    .contact-details a{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-details a i{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    footer p{
        padding-bottom: 15px;
    }
    footer{
        height: 40vh;
    }
}
@media (min-width:700px) and (max-width:1000px){
    body{
        overflow-x: hidden;
    }
    .nav-list{
        margin: 10px 30px;
    }
    .nav-list a{
        font-size: 25px;
    }
    .project-section{
        height: 240vh;
    }
    .project-img{
        height: 300px;
        width: 85%;
        margin: 0 auto;
    }
    .contact-section{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .contact-details{
        display: flex;
        flex-direction: row;
    }
    .contact-details a{
        display: flex;
        flex-direction: row;
        padding: 0 15px;
    }
    .contact-details a i{
        justify-content: center;
    }
    footer{
        height: 30vh;
    }
}   
@media (min-width:1000px) and (max-width:1500px){
    body{
        overflow-x: hidden;
    }
    #navbar{
        justify-content: flex-end;
    }
    .nav-list{
        margin: 10px 20px;
    }
    .nav-list a{
        font-size: 25px;
        padding: 20px;
    }
    .welcome-section h1{
        font-size: 40px;
    }
    .welcome-section p{
        font-size: 30px;
    }
    .project-section{
        padding: 20px 10px;
        height: 410vh;
    }
    .grid{
        grid-template-columns: 1fr;
    }
    .project-img{
        height: 28%;
        width: 28%;
        border: 2px solid;
    }
    .project-tile{
        font-size: 20px;
    }
    .code{
        padding: 20px 140px;
    }
    .btn{
        font-size: 20px;
        padding: 18px 20px;
    }
    .contact-section{
        display: flex;
        flex-direction: column;
        height: 50vh;
    }
    .contact-section header{
        font-size: 40px;
    }
    .contact-section p{
        font-size: 22px;
    }
    .contact-details{
        display: flex;
        flex-direction: row;
    }
    .contact-details a{
        display: flex;
        flex-direction: row;
        padding: 0 15px;
        font-size: 25px;
    }
    .contact-details a i{
        justify-content: center;
    }
    footer{
        height: 40vh;
    }
    footer p{
        font-size: 30px;
    }
}   